
	<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
		<display-name>SKILL4</display-name>
		<servlet>
			<description>
			</description>
			<display-name>Superadminlogin</display-name>
			<servlet-name>Superadminlogin</servlet-name>
			<servlet-class>servlets.Superadminlogin</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>Addmanagerview</display-name>
			<servlet-name>Addmanagerview</servlet-name>
			<servlet-class>servlets.Addmanagerview</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>CustomerHeader</display-name>
			<servlet-name>CustomerHeader</servlet-name>
			<servlet-class>servlets.CustomerHeader</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>Viewtickets</display-name>
			<servlet-name>Viewtickets</servlet-name>
			<servlet-class>servlets.Viewtickets</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>CancelTicketServlet</display-name>
			<servlet-name>CancelTicketServlet</servlet-name>
			<servlet-class>servlets.CancelTicketServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Superadminlogin</servlet-name>
			<url-pattern>/Superadminlogin</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Addmanagerview</servlet-name>
			<url-pattern>/Addmanagerview</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>CustomerHeader</servlet-name>
			<url-pattern>/CustomerHeader</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Viewtickets</servlet-name>
			<url-pattern>/Viewtickets</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>CancelTicketServlet</servlet-name>
			<url-pattern>/CancelTicketServlet</url-pattern>
		</servlet-mapping>
		<welcome-file-list>
			<welcome-file>index.html</welcome-file>
			<welcome-file>index.htm</welcome-file>
			<welcome-file>index.jsp</welcome-file>
			<welcome-file>default.html</welcome-file>
			<welcome-file>default.htm</welcome-file>
			<welcome-file>default.jsp</welcome-file>
		</welcome-file-list>
	</web-app>